<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
      <script src="http://code.jquery.com/jquery-1.8.1.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><%= title %></h1>
      I'm here
    <div id="fb-root" />
  </body>

  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({
        appId : 258694054250760,
        status: true,
        cookie: true,
        oauth: true,
        frictionlessRequests : true
      });
        FB.getLoginStatus(function(response) {
            H.init();
        });
    };

    (function() {
      var e = document.createElement('script');
      e.async = true;
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>

  <script>
     var H = H || {};

     H.init = function() {
         H.startGame();
     };

     H.startGame = function() {
         FB.api("movikwiz:start",
                 'post',
                 {game: "http://somewhere"},
                 function(response) {
                     console.log(response);
                 }
         );
     };

  </script>
</html>