<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<% questions.forEach(function (question) { %>
					<% include question %>
		<% }) %>
	</div>
	<script src="/lib/bootstrap.min.js"></script>
</body>
</html>